<div class="color-bar">
    <svg>
        <g>
            <rect id="pink" fill="#E66FC1" x="40" y="0" width="20" height="20"></rect>
            <rect id="yellow" fill="#FFC923" x="20" y="0" width="20" height="20"></rect>
            <rect id="red" fill="#E65264" x="140" y="0" width="20" height="20"></rect>
            <rect id="green" fill="#4FBC48" x="60" y="0" width="20" height="20"></rect>
            <rect id="blue" fill="#3FC0FF" x="80" y="0" width="20" height="20"></rect>
            <rect id="blue" fill="#3FC0FF" x="100" y="0" width="20" height="20"></rect>
            <rect id="blue" fill="#3FC0FF" x="120" y="0" width="20" height="20"></rect>
            <rect id="orange" fill="#F58A23" x="160" y="0" width="20" height="20"></rect>
            <rect id="white" fill="#FFFFFF" x="180" y="0" width="20" height="20"></rect>
            <rect id="black" fill="#000000" x="0" y="0" width="20" height="20"></rect>
            <rect id="black" fill="#FFFFFF" x="7" y="7" width="6" height="6" rx="3"></rect>
        </g>
    </svg>
</div>