{% assign curDate = site.time | date: '%s' %}
{% assign sorted = (site.events | sort: 'date') | reverse %}
{% for item in sorted %}
{% assign postStartDate = item.date | date: '%s' %}
{% if postStartDate <= curDate %} 
<a href="{{ item.url }}" class="exhibition-card row top-xs">
    <img src="{{ item.image }}" class="exhibition-card-image">
    <div class="exhibition-card-what">
        <div class="exhibition-card-title">{{ item.what }}</div>
        <ul class="meta">
            <li>{{ item.where }}</li>
            <li>{{ item.date | date: '%B %d, %Y' }}</li>
        </ul>
    </div>
    </a>
    {% endif %}
    {% endfor %}
</div>