    {% assign curDate = site.time | date: '%s' %}
    {% assign sorted = (site.events | sort: 'date')x %}
    {% for item in sorted %}
    {% assign postStartDate = item.date | date: '%s' %}
    {% if postStartDate >= curDate %}
    <a href="{{ item.url }}" class="event-card row top-xs">
    <img src="{{ item.image }}" class="event-card-image">
        <div class="event-card-what">
        <div class="event-card-title">{{ item.what }}</div>
        <ul class="meta">
            <li>{{ item.where }}</li>
            <li>{{ item.date | date: '%B %d, %Y' }}</li>
        </ul>
        </div>
    </a>  
    {% endif %}
    {% endfor %}