{% assign curDate = site.time | date: '%s' %}
        {% assign sorted = (site.exhibitions | sort: 'date') | reverse %}
        {% for item in sorted %}
            {% assign postEndDate = item.end-date | date: '%s' %}
            {% if postEndDate >= curDate %}
            <div class="exhibition-card">
                <a href="{{ item.url }}">
                    <img src="{{ item.image }}">
                    <div class="exhibition-card-title">{{ item.what }}</div>
                    <div class="meta">{{ item.start-date | date: '%B %d, %Y' }} – {{ item.end-date | date: '%B %d, %Y' }}</div>
                </a>
            </div>
            {% endif %}
        {% endfor %}