<div id="inquire" class="row bottom-xs" style="min-height: 75vh;">
    <form name="contact" action="/confirmed/" netlify-honeypot="bot-field" method="POST" netlify>
        <div class="row between-xs">
            <label>Name</label>
            <input required type="name" name="name" placeholder="Who are you?">
        </div>
        <div class="row between-xs">
            <label>Email</label>
            <input required type="email" name="email" placeholder="What's your email?">
        </div>
        <div class="row between-xs">
            <label>When?</label>
            <input required type="date" name="date" placeholder="When?">
        </div>
        <div class="row between-xs">
            <textarea required placeholder="Message" type="text" name="message"></textarea>
        </div>
        <button class="button" type="submit">Submit</button>
    </form>
</div>