<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>KBH / {{ page.title }}</title>

<meta property="og:site_name" content="{{ site.title }}">
{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ page.description | strip_html }}"/>
{% else %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ site.description }}">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    
<link rel="shortcut icon" href="{{ site.baseurl }}/sets/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

<meta property="og:title" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="http://karmabird.house">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flexboxgrid.css" type="text/css">
    
<link rel="stylesheet" href="https://use.typekit.net/yzo3xed.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">
        
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130598940-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130598940-1');
</script>    

<!-- Admin Layer -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</head>