<div class="navigation">
    <div class="nav-logo">
        <a href="{{ site.baseurl }}/" class="site-title">Karma</a>
    </div>
    <div class="nav-trigger close">
        <span class="bar"></span>
    </div>
</div>

<div class="outside">	
	<div class="inside">
		<div class="menu">
            <div class="menu-links">
                <ul>
                    <li><a href="{{ site.baseurl }}/info/">Info</a></li>
                    <li><a href="{{ site.baseurl }}/birdhouse/">Birdhouse</a></li>
                    <li><a href="{{ site.baseurl }}/maglianero/">Maglianero</a></li>
                    <li><a href="{{ site.baseurl }}/iskra/">Iskra</a></li>
                </ul>
            </div>
            <div class="menu-description">
                <p>The language of flowers, sometimes called floriography, is a means of cryptological communication through the use or arrangement of flowers.</p>
            </div>
	</div>
</div>
</div>