<navigation class="navigation row middle-xs between-xs">   
    <div class="row">
    <a href="{{ site.baseurl }}/" class="nav-logo row start-xs col-sm-6 col-xs-10">
        <img class="nav-logo-image" src="{{ site.baseurl }}/assets/images/logo/black.svg">
        <div class="site-title">Karma Bird House</div>
    </a>
    <i id="mobile-nav-trigger" class="col-xs-2 end-xs far fa-plus"></i>
    <div class="nav-links row col-sm-6 end-sm col-xs-12 start-xs">
        <ul>
            {% for node in site.pages | sort:'order' %} {% unless node.exclude %} {% if page.url == node.url %}
            <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {% else %}
            <li><a href="{{node.url}}">{{node.title}}</a></li>
            {% endif %} {% endunless %} {% endfor %}
        </ul>
    </div>    
    </div>
</navigation>