<div id="newsletter" class="row between-xs middle-xs">
    <form class="row between-xs" name="newsletter" action="" method="POST">
        <div class="col-sm-8 col-xs-12">
            <input type="hidden" name="form-name" value="contact">
            <input required="" type="email" name="email" placeholder="Monthly events and availabilities.">
        </div>
        <div class="col-sm-4 col-xs-12">
            <button class="button" type="submit">Get the Email</button>
        </div>
    </form>
</div>