{% assign curDate = site.time | date: '%s' %}
{% assign sorted = (site.events | sort: 'date') | reverse %}
{% for item in sorted %}
{% assign postStartDate = item.date | date: '%s' %}
{% if postStartDate <= curDate %}

<!-- Testing --!>                             
                             
<a class="card" href="{{ item.url }}">
<ul>
    <li><h2>{{ item.what }}</h2></li>
    <li class="meta">{{ item.date | date: '%B, %Y' }}</li>
</ul> 
</a>                           
                            
{% endif %}
{% endfor %}