{% assign curDate = site.time | date: '%s' %}
{% assign sorted = (site.happenings | sort: 'date') %}

{% for item in sorted %}

{% assign postStartDate = item.start-date | date: '%s' %}
{% assign postEndDate = item.end-date | date: '%s' %}

{% if postEndDate >= curDate %}
<a href="{{ item.url }}" class="large-card row top-xs">
    <img src="{{ item.feature-image }}" class="large-card-image">
    <div class="large-card-what">
        <ul class="meta">
            <li>{{ item.location }}</li>
            <li>
                {{ postStartDate | date: '%B %d' }}
                {% if postEndDate %}
                – {{ postEndDate | date: '%B %d, %Y' }}
                {% endif %}
            </li>
        </ul>
        <div class="large-card-title">{{ item.title }}</div>

    </div>
</a>

{% elsif postStartDate >= curDate %}
<a href="{{ item.url }}" class="large-card row top-xs">
    <img src="{{ item.feature-image }}" class="large-card-image">
    <div class="large-card-what">
        <ul class="meta">
            <li>{{ item.location }}</li>
            <li>
                {{ postStartDate | date: '%B %d, %Y' }}
            </li>
        </ul>
        <div class="large-card-title">{{ item.title }}</div>
    </div>
</a>
{% endif %}
{% endfor %}
<h1 class="no-events">Check back soon, or sign up for our email and stay in the know.</h1>
{% include newsletter.html %}
