*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: 0 !important;
}

:hover {
    -webkit-transition: all .02s ease-in-out;
    transition: all .02s ease-in-out;
}

::selection {
    background: yellow;
    color: black;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: yellow;
    color: black;
    /* Gecko Browsers */
}

html,
body {
    width: 100%;
    margin: 0;
    font-family: neue-haas-grotesk-text, sans-serif;
    line-height: 1.6em;
    color: black;
    background-color: white;
}

img {
    width: 100%;
}

.index-video {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
}

.dark-mode {
    filter: invert(100%);
    background-color: black;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 


Section ID 


*/

section#archive {
    padding-bottom: 2em;
}

section#event {
    padding-bottom: 1rem;
}

section#exhibition {
    padding-bottom: 1rem;
}

#info-map {
    margin: 1em 0;
    height: 70vh;
    background-color: #FFC923;
}

#contact-map {
    min-height: 90vh;
}

#contact-map .banner {
    padding: 1rem 0;
}

#space-features {
    padding-bottom: 3em;
}

/*


Top Color Bar


*/

.color-bar {
    height: 20px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.color-bar svg {
    width: 100%;
    height: 20px;
    background-color: black;
}

.color-bar svg:hover {
    cursor: pointer;
}


.color-bar svg {
    cursor: pointer;
    background-color: #efefef;
}

.color-bar svg rect:hover {
    opacity: .9;
}

/*


Typography


*/

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 800 !important;
    font-size: 3em;
    line-height: 1em;
    font-weight: inherit;
    letter-spacing: inherit;
    margin: 0;
}

h2 {
    font-weight: inherit;
    line-height: 1.2em;
    font-size: 2em;
}

h3 {
    font-weight: inherit;
    line-height: 1.5em;
    font-size: 1.5em;
    opacity: .3;
}

p a {
    text-decoration: underline;
    color: black;

    @supports not (-webkit-text-decoration-skip: objects) {
        filter: url('#svg-underline');
        text-decoration: none;
    }

    @supports (-ms-ime-align: auto) {
        color: black;
        filter: none;
        text-decoration: underline;
    }
}

p a:hover {
    opacity: .4;
}

.large-text {
    font-size: 6em;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 900;
    margin: 4rem 0;
}


.meta {
    opacity: .4;
    font-size: 1em;
}

a.meta:hover {
    opacity: 1;
}


ul {
    padding: 0;
}

li {
    list-style: none;
}

li i {
    padding-right: .5em;
}

li h3 {
    margin: 0;
}

.image-caption p {
    font-size: .9em;
    opacity: .4;
    padding: 0 !important;
    display: block;
    margin-block-start: .25em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    margin: 1em 0 2em 0;
    border: .5px solid #00000015;
}

/*


Buttons


*/

.button {
    font-size: 2em;
    font-weight: 800;
    padding: 1em;
    background-color: black !important;
    color: white;
    border: none;
}

@keyframes color-animation {
    0% {
        background: #FFC923;
    }

    20% {
        background: #F58A23;
    }

    40% {
        background: #E65264
    }

    60% {
        background: #E66FC1
    }

    80% {
        background: #4FBC48
    }

    100% {
        background: #3FC0FF
    }
}

.button:hover {
    animation: color-animation 1s infinite;
}


/* 


Structural


*/


.row {
    max-width: 1300px !important;
    margin: 0 auto;
}

.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.half {
    display: flex;
    min-height: 50vh;
    clear: both;
}

.quarter {
    display: flex;
    min-height: 25vh;
    clear: both;
}

/* 


Navigation 


*/

.navigation {
    width: 100%;
    font-size: 1.25em;
    letter-spacing: .015em;
    padding: 1rem 0;
}

.nav-logo {
    padding-left: .75rem !important;
}

.nav-logo:hover {
    opacity: .25 !important;
    cursor: pointer;
}

.nav-logo-image {
    display: inline-block;
    padding-right: .75em;
    height: 100%;
    width: auto;
    opacity: 1;
}

.nav-trigger {
    background-color: transparent;
    border: 0;
}

.nav-links li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    display: inline-block;
    font-weight: 600;
    margin-right: 1em;
    text-transform: uppercase;
    font-size: 1em;
    opacity: .2;
}

.nav-links li:hover {
    opacity: 1;
}

.nav-links li:active {
    opacity: 1;
}

.nav-links li:last-child {
    margin-right: 0;
}

.active {
    opacity: 1 !important;
    font-weight: 900;
}


/* 


Site Title


*/

.site-title {
    font-family: "neue-haas-grotesk-display", sans-serif;
    max-width: 1200px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 800;
}


/*


Footer


*/


footer {
    background-color: #00000010;
    color: black;
    position: absolute;
    width: 100%;
    padding: 1em 0 0 0;
}


footer ul a li {
    opacity: .5;
    text-align: right;
}

footer ul a li:hover {
    color: black;
    opacity: 1;
}

footer .meta {
    font-size: .8em;
}


/*

Slick Rick

*/

.slide {
    display: flex !important;
    min-height: 75vh;
    width: 100%;
    background-size: cover;
}

.slick-slider {
    display: flex !important;
}

.home-slider h1 {
    color: white;
    text-align: center;
    font-size: 6em;
}

.slick-dots {
    display: flex !important;
    position: absolute;
    bottom: 1em;
    color: transparent;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    content: '\f111';
    text-align: center;
    opacity: .5;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
}

.slick-arrow {
    position: absolute !important;
    z-index: 5;
    color: white;
}

.slick-prev {
    left: 1em;   
    z-index: 99;
}

.slick-next {
    right: 1em;   
    z-index: 99;
}

/*


Banners & Text Areas


*/



.banner {
    padding-bottom: 1rem;
}

.banner .banner-title {
    margin: 1rem 0;
}

#home-banner {
    margin: 4rem 0;
}


.banner-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 3em;
    line-height: 1.15em;
    word-spacing: .05em;
    font-weight: 900;
    margin: 1rem 0;
}

.banner-title a {
    border: 1px solid black;
    padding: .5em;
}

.banner-title a:hover {
    opacity: .5;
}

.text-area .banner-title {
    padding-right: 1em;
    margin: 1em 0;
}

.text-area p {
    padding-right: 3em;
}

.text-area ul {
    padding: .75em 2em;
}

.text-area ul li {
    list-style: disc;
}


/* 


Events 


*/

.archive-item {
    opacity: 1;
    filter: grayscale(100%);
    padding: 1rem 0;
}

.archive-item:hover {
    opacity: 1;
    filter: grayscale(0%);
}

.archive-image {
    height: 300px;
    object-fit: cover;
    background-color: cornflowerblue;
}

.archive-image:hover {
    height: 300px;
    object-fit: cover;
}

.archive-title {
    padding: .5em 0 1em 0;
    min-height: 4em;
    max-height: 4em;
    overflow: hidden;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}

.section-label {
    font-size: 14px;
    margin-bottom: 1rem;
    color: lightgray;
}

/* 


Cards 


*/

.card {
    padding-bottom: 3em;
}

card:after {
    content: '';
    display: block;
    clear: both;
}

.card:hover {
    opacity: .6;
}

.card p {
    font-size: 1.3em;
    line-height: 1.5em;
}

.large-card {
    margin-bottom: 1rem;
    display: block;
}

.large-card:last-child {
    margin-bottom: 1rem;
}

.large-card:hover {
    opacity: .5;
}

.large-card-image {
    width: 50%;
}

.large-card-what {
    width: 50%;
    font-weight: 400;
    padding: 0 2em;
}

.large-card-what ul {
    font-size: 1em;
    font-weight: 400;
    margin-block-start: auto;
}

.large-card-title {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 800;
    font-family: "neue-haas-grotesk-display", sans-serif;
}

.med-card {
    padding-bottom: 2em;
}

.med-card-title {
    line-height: 1.2em;
    font-size: 1.5em;
    padding: .25em 0 .25em 0;
    font-weight: 800;
}

.med-card:hover {
    opacity: .5;
}

.med-card-what {
    width: 100%;
}


/* 


Directory 


*/

.directory {
    width: 100%;
}

.directory-listing {
    border-bottom: 1px solid #00000030;
}

.directory-listing-name {
    font-weight: 800;
}

.directory-listing:last-child {
    border-bottom: none;
    box-shadow: none !important;
}

.directory-listing:hover {
    box-shadow: 0px 1px 0px black;
}


/* 


Newsletter 


*/


#newsletter {
    padding: 8em 0 1em 0;
}

#newsletter input {
    outline: none;
    background-color: transparent;
    resize: none;
    font-size: 1.5em;
    border-radius: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
}

#newsletter p#warningName,
p#warningEmail,
p#warningComment {
    color: red;
}

#newsletter input[type=email],
textarea {
    border: none;
    color: black;
    padding: 1rem 0;
    border-bottom: 2px solid black;
    text-align: left;
    background-color: transparent;
    outline: none !important;
}

#newsletter button[type=submit] {
    width: 100%;
    color: white !important;
    padding: 1rem;
    background-color: black;
}

#newsletter button:hover {
    border: none;
    cursor: pointer;
}

#newsletter input:focus {
    border: 0;
    border-bottom: 2px solid black;
}

#newsletter input[type=submit]:focus {
    border: none;
}

#newsletter:focus {
    outline: 0 !important;
}

#newsletter:hover {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

#newsletter::-webkit-input-placeholder {
    color: black;
    opacity: .3;
}

#newsletter:-moz-placeholder {
    /* Firefox 18- */
    color: black;
    opacity: .3;
}

#newsletter::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
    opacity: .3;
}

#newsletter:-ms-input-placeholder {
    color: black;
    opacity: .3;
}

#newsletter input:-webkit-autofill {}

#newsletter input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {}

#newsletter input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 0px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}



/* 

Mobile Styles 

*/

#mobile-nav-trigger {
    display: none;
    font-size: 1.2em;
    z-index: 9999;
}

#mobile-nav {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 0 1rem;
    font-size: 2em;
    line-height: 1.5em;
    z-index: 1;
}

.mobile-nav {
    overflow: hidden;
}

.closed {
    display: none !important;
}


@media only screen and (max-width: 420px) {
    .site-title {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    .nav-links {
        display: none !important;
    }
}

@media only screen and (max-width: 860px) {
    #mobile-nav-trigger {
        display: block !important;
        z-index: 9999;
    }

    footer ul a li {
        opacity: .5;
        text-align: left;
    }

    input,
    button {
        font-size: 1em !important;
        margin: .5em 0;
    }

    .large-card {
        margin-bottom: 1rem;
        display: block;
    }

    .large-card:last-child {
        margin-bottom: 1rem;
    }

    .large-card:hover {
        opacity: .5;
    }

    .large-card-image {
        width: 100%;
    }

    .large-card-what {
        width: 100%;
        font-weight: 400;
        padding: 1em 0;
    }

    .large-card-title {
        font-size: 2em;
        line-height: 1.2em;
    }

    .meta {
        margin: 1em 0 2em 0;
    }
}