---
layout: default
---

<section id="exhibition" class="row top-xs start-xs">
    <div class="col-sm-6 col-xs-12">
        {% for image in page.images %}
        <img class="event-page-image" src="{{ image.image_path }}" alt="{{ image.title}}"/>
        {% endfor %}
    </div>

    <div class="col-sm-6 col-xs-12">
        <ul class="meta">
            <li>{{ page.start-date | date: '%B %d, %Y' }} – {{ page.end-date | date: '%B %d, %Y' }}</li>
            <li>{{ page.where }}</li>
        </ul>
        <div class="text-area">
        <h1 class="banner-title">{{ page.what }}</h1>
        {{ content }}
        </div>    
    </div>
</section>