---
layout: default
pagination:
enabled: true
collection: events
---
<section id="event" class="row top-xs start-xs">
    <div class="col-sm-6 col-xs-12">
        <img src="{{ page.feature-image }}"></img>
    </div>
    <div class="col-sm-6 col-xs-12">
        <ul class="meta">

            <li>{{ page.location }}</li>
            {% assign postStartDate = page.start-date | date: '%s' %}
            {% assign postEndDate = page.end-date | date: '%s' %}
            <li>
                {{ postStartDate | date: '%B %d, %Y' }}
                {% if postEndDate %}
                – {{ postEndDate | date: '%B %d, %Y' }}
                {% endif %}
            </li>
        </ul>
        <div class="large-card-title">{{ item.title }}</div>
        <div class="text-area">
            <h1 class="banner-title">{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
</section>
<section class="row start-xs">
    {% for vimeo in page.vimeo %}
    <div class="item-image col-xs-12">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ page.vimeo }}?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    {% endfor %}
    {% for image in page.images %}
    <div class="item-image col-xs-6">
        <img src="{{ image }}" alt=""></img>
    </div>
    {% endfor %}
</section>