---
layout: default
---

<div class="row top-xs start-xs">
    <div class="col-sm-6 col-xs-12">
        {% for image in page.images %}
        <img class="event-page-image" src="{{ image.image_path }}" alt="{{ image.title}}"/>
        {% endfor %}
    </div>

    <div class="col-sm-6 col-xs-12">
        <h1 class="banner-title">{{ page.name }}</h1>
        <div class="text-area">
            {{ content }}
         
        <a href="/contact/" class="row button">Contact</a>
        </div>
    </div>
</div>